Source: ros-hydro-ocean-battery-driver
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-pr2-msgs, ros-hydro-roscpp
Homepage: http://www.ros.org/wiki/ocean_battery_driver
Standards-Version: 3.9.2

Package: ros-hydro-ocean-battery-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-pr2-msgs, ros-hydro-roscpp
Description: This is an interface to the Ocean Server Technology Intelligent Battery and Power System.
