Source: ros-hydro-pr2-power-drivers
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/pr2_power_drivers
Standards-Version: 3.9.2

Package: ros-hydro-pr2-power-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-ocean-battery-driver, ros-hydro-power-monitor, ros-hydro-pr2-power-board
Description: Power drivers for the PR2 robot.
